@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "ListRole";
}

<h1>ListRole</h1>
@if(Model.Any())
{
    <a class="btn btn-primary" style="width:auto" asp-action="CreateRole" asp-controller="admin">Add new role</a>
    <br />
    @foreach(var role in Model)
    {
        <div class="card">
            <div class="card-header">
                Role Id : @role.Id

            </div>
            <div class="card-body">
                Role Name :@role.Name
            </div>
            <div class="card-footer">
                <a asp-controller="admin" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="admin" asp-action="DeleteRole" asp-route-id="@role.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
        <br />
    }

}
else
{
    <h2>hiện tại không có role nào cả</h2>
}

