
@{
    Layout = null;
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />

<section id="clients" class="clients wow fadeInUp">
    <div class="container">
        <header class="section-header">
            
        </header>
        <div class="owl-carousel clients-carousel">
            <a asp-controller="Category" asp-action="Index" asp-route-id="5"><img src="~/user/img/clients/asus.png" alt=""></a>
            <a asp-controller="Category" asp-action="Index" asp-route-id="5"><img src="~/user/img/clients/asusrog.png" alt=""></a>
            <a asp-controller="Category" asp-action="Index" asp-route-id="1"><img src="~/user/img/clients/dell.png" alt=""></a>
            <a asp-controller="Category" asp-action="Index" asp-route-id="6"><img src="~/user/img/clients/hp.png" alt=""></a>
            <a asp-controller="Category" asp-action="Index" asp-route-id="3"><img src="~/user/img/clients/msi.png" alt=""></a>
            <a asp-controller="Category" asp-action="Index" asp-route-id="2"><img src="~/user/img/clients/acer.png" alt=""></a>
            <a asp-controller="Category" asp-action="Index" asp-route-id="4"><img src="~/user/img/clients/apple.png" alt=""></a>
        </div>
    </div>
</section>
