@model DoAn1.Models.KhachHang
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>ChangePassword</h1>
<div class="container">
    <h5 style="text-align:center; font-weight:bold">Thay đổi thông tin</h5>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <form asp-action="ChangePassword" >
                <p class="text-warning">@ViewBag.Message</p>
                <div class="form-group" hidden>
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label value="Password Cũ" class="control-label"></label>
                    <input name="oldpassword" class="form-control" placeholder="Nhập password cũ.." style=" border: 0px solid transparent; border-bottom: 1px solid #dddddd; border-radius: 0; " />
                </div>
                <div class="form-group">
                    <label value="Password Cũ" class="control-label"></label>
                    <input name="newpassword" class="form-control" placeholder="Nhập password mới.." style=" border: 0px solid transparent; border-bottom: 1px solid #dddddd; border-radius: 0; " />

                </div>
                <div class="form-group">
                    <input type="submit" class="btnRegister" value="Lưu thay đổi" style="float: right; margin-top: 10%; border: none; border-radius: 1.5rem; padding: 2%; background: #0062cc; color: #fff; font-weight: 600; width: 200px; height: 50px; cursor: pointer;" />
                    
                </div>



            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
