
@{
    ViewData["Title"] = "CheckOut";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />
<section class="breadcrumb breadcrumb_bg" style="position: relative; z-index: 1; background-color: #e8f0f2; margin-bottom: 0px !important;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p style="font-size: 15px; color: #777777;">Laptop / Checkout</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br />
<div class="container">
    <h1>Đơn hàng của bạn đã được ghi nhận</h1>
    <a asp-action="Index" asp-controller="Home" class="btn" style="display: inline-block; padding: 19px 61px; background-color: #0A98C0; font-size: 15px; font-weight: 700; -webkit-transition: 0.5s; transition: 0.5s; text-transform: capitalize; color: #fff;">Tiếp tục mua hàng</a>
</div>
