@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="chart_div"></div>
<script type="text/javascript">

    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(LoadData);

    function LoadData() {
        $.ajax({
            url: 'chart/ProductChart',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                PopulationChart(data);
                return false;
            }
        });
        return false;
    }

    function PopulationChart(data) {
        var dataArray = [
            ['tenLaptop', 'soLuong']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.tenLaptop, item.soLuong]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var PieChart_options = {
            title: 'PieChart',
            chartArea: {
                width: '50%'
            },
            colors: ['#b0120a', '#7b1fa2', '#7b1fa8', '#7b1fa9'],
            hAxis: {
                title: 'soLuong',
                minValue: 0
            },
            vAxis: {
                title: 'Total Population'
            }
        };
        var LineChart_options = {
            title: 'LineChart',
            chartArea: {
                width: '50%'
            },
            colors: ['#b0120a', '#7b1fa2', '#7b1fa8', '#7b1fa9'],
            hAxis: {
                title: 'tenLaptop',
                minValue: 0
            },
            vAxis: {
                title: 'Total Population'
            }
        };
        var ColumnChart_options = {
            title: 'LineChart',
            chartArea: {
                width: '50%'
            },
            colors: ['#b0120a', '#7b1fa2', '#7b1fa8', '#7b1fa9'],
            hAxis: {
                title: 'tenLaptop',
                minValue: 0
            },
            vAxis: {
                title: 'Total Population'
            }
        };
        var PieChart = new google.visualization.PieChart(document.getElementById('PieChart_div'));
        var ColumnChart = new google.visualization.ColumnChart(document.getElementById('ColumnChart_div'));
        var LineChart = new google.visualization.LineChart(document.getElementById('LineChart_div'));
        PieChart.draw(data, PieChart_options);
        LineChart.draw(data, LineChart_options);
        ColumnChart.draw(data, ColumnChart_options);
        return false;
    }

</script>
<div>
    <table class="columns">
        <tr>
            <td><div id="PieChart_div" style="border: 1px solid #ccc"></div></td>
            <td><div id="LineChart_div" style="border: 1px solid #ccc"></div></td>
            <td><div id="ColumnChart_div" style="border: 1px solid #ccc"></div></td>
        </tr>
    </table>
</div>